@charset "utf-8";
body{
	margin: 0;
	padding: 0;
	font-family: "Microsoft Yahei";
}
.head{
	position: relative;
	width: 1350px;
	height: 130px;
	margin: 0 auto;
}
.head2{
	position: fixed;
	width: 100%;
	height: 60px;
	margin: 0 auto;
	z-index: 999;
	background: #fff;
	display: none;
	box-shadow: 1px 1px 3px #bdbdbd;
}
.headbottom{
	position: relative;
	width: 100%;
	height: 16px;
	background: black;
	margin: 0 auto;
}
.vanslogo{
	position: absolute;
	width: 200px;
	height: 100px;
	top:34px;
	left: 18px;
}
.vanslogo2{
	position: absolute;
	width: 200px;
	height: 100px;
	top:12px;
	left: 118px;
}
#vanslogo{
	width: 156px;
}
#vanslogo2{
	width: 100px;
}
.headrighttop{
	position: relative;
	float: right;
	right: 18px;
	width: 360px;
	height: 40px;
	top:10px;
}
.headrighttop a{
	font-weight: bold;
	font-size: 16px;
	letter-spacing: 1px;
	text-decoration: none;
	color: #9b9b9e;
}
.shoppingcar,.login,.search{
	position: relative;
	width: 120px;
	height: 30px;
	line-height: 30px;
	display: inline;
	background-size: 15px;
	background-position:left;
	background-repeat: no-repeat;
}
.shoppingcar{
	background-image: url(../images/购物车.png);
}
.shoppingcar a{
	padding-left: 20px;
}
.shoppingcar:hover{
	background-image: url(../images/购物车ho.png);
}
.shoppingcar a:hover{
	color: #c9192e;
}
.login{
	left: 20px;
	background-image: url(../images/用户.png);

}
#logina{
	padding-left: 18px;
}
.login:hover{
	background-image: url(../images/用户ho.png);
	color: #c9192e;
}
#logina:hover,#loginb:hover{
	color: #c9192e;
}
.search{
	left: 40px;
	background-image: url(../images/位置.png);
}
.search a{
	padding-left: 18px;
}
.search:hover{
	background-image: url(../images/位置ho.png);
}
.search a:hover{
	color: #c9192e;
}
.headnav,.headnav2{
	position: absolute;
	width: 630px;
	height: 50px;
	top:82px;
	left: 500px;
}
.headnav2{
	top:22px;
	left: 780px;
}
.headover{
	position: absolute;
	width: 1000px;
	height: 130px;
	left: 190px;
}
.headnav a,.headnav2 a{
	font-weight: bold;
	font-size: 16px;
	text-decoration: none;
	color: black;
	padding-right: 20px;
}
.headnav a:hover,.headnav2 a:hover{
	color: #c9192e;
}
.aboutvans,.remen,.man,.woman,.CUSTOMS,.more{
	position: relative;
	width: 150px;
	height: 50px;
	display: inline;
	background-size: 13px;
	background-position:right;
	background-repeat: no-repeat;
	background-image: url(../images/下拉箭头.png);
}
.aboutvans:hover,.remen:hover,.man:hover,.woman:hover,.more:hover{
	background-image: url(../images/下拉箭头ho.png);
}
.CUSTOMS{
	background: none;
}
.remen{
	left: 30px;
}
.man{
	left: 60px;
}
.woman{
	left: 90px;
}
.CUSTOMS{
	left: 120px;
}
.CUSTOMS img{
	position: absolute;
	left: 125px;
}
.more{
	left: 130px;
}
.aboutvans span{
	font-size: 15px;
	padding-left: 3px;
	font-weight:bolder;
	letter-spacing: -1px;
}
.CUSTOMS span{
	font-size: 15px;
	font-weight:bolder;
	letter-spacing: -1px;
	padding-right: 3px;
}
.xiexian{
	position:absolute;
	top:4px;
	padding-left: 3px;
	width: 15px;
}
.headss{
	position: absolute;
	width: 182px;
	height: 25px;
	top:78px;
	left: 1150px;
}
.headss img{
	position: absolute;
	width: 14px;
	top:7px;
	left: 150px;
	cursor: pointer;
}
#headss{
	width: 162px;
	height: 25px;
	line-height: 25px;
	color:rgba(154,154,154,1.00);
	padding-left: 10px;

}
.topbigbg{
	position: relative;
	width: 1450px;
	height: 960px;
	background-image: url(../images/a4e7a7e19a773028c8e85cb09464cfae0090cae9.jpg);
	margin: 0 auto;
}
.centerbigbg{
	position: relative;
	width: 1450px;
	height: 970px;
	background-image: url(../images/628321519bfb0de26cd5e6ed18c81d9251e5c9e2.jpg);
	margin: 0 auto;
}
.vanshead{
	position: absolute;
	width: 100%;
	height: 150px;
	z-index: 999;
	display: none;
	text-align: center;
	background: black;
}
.vanshead a{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	left: -50px;
	top:40px;
	transition: all 0.2s;
	margin: 10px 120px;
}
#mannavbottom,#womannavbottom{
	height: 360px;
}
.man1{
	position: relative;
	width: 300px;
	height: 340px;
	text-align: left;
	line-height: 27px;
	top:-30px;
	left: 50px;
}
.man1 a{
	font-size: 15px;
	color: #589bc6;
}
.man1 a:hover{
	color: #c9192e;
}
.man2{
	position: absolute;
	left: 350px;
}
.man3{
	position: absolute;
	left: 650px;
}
.manbg{
	position: absolute;
	width: 350px;
	left: 1000px;
	top:30px;
}
#abvssecond{
	position: relative;
	color: #589bc6;
	top:50px;
	left: 255px;
}
.vansheada:hover,#abvssecond:hover{
	color: #c8192e;
}
.triangle{
	position: absolute;
	border: 16px solid;
	top:16px;
	left: 20px;
	display: none;
	border-color: transparent transparent black;
}
.tr2,.tr3,.tr4{
	left: 4px;
}
.topbg{
	position: relative;
	width: 1440px;
	height: 600px;
	margin: 0 auto;
}
.topbg img{
	width: 1440px;
	height: 600px;
}
.gdbg{
	position: relative;
	width: 1440px;
	height: 650px;
	margin: 0 auto;
	top:20px;
	text-align: center;
}
.gdbox{
	position: relative;
	float: left;
	width: 460px;
	height: 650px;
}
#gdbox2{
	left: 30px;
}
#gdbox3{
	left: 60px;
}
.gdboximg{
	position: relative;
	width: 460px;
	height: 470px;
	overflow: hidden;
}
.gdboximg img{
	width: 460px;
	height: 470px;
	transition: all 0.5s;
}
.gdbg img:hover{
	transform: scale(1.1);
}
.gdbox a{
	position: relative;
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 22px;
	top: 20px;
	letter-spacing: 3px;
}
.ljxg{
	position: relative;
	width: 170px;
	height: 50px;
	background: black;
	margin: 0 auto;
	line-height: 50px;
	color: #fff;
	top:60px;
}
.bottom{
	position: relative;
	width: 100%;
	height: 470px;
	top:40px;
	margin: 0 auto;
	background: #000;
}
.bottomnav{
	position: relative;
	width: 1450px;
	height: 300px;
	margin: 0 auto;
}
.hqbz{
	position: relative;
	width: 480px;
	height: 265px;
	top:30px;
	padding-left: 10px;
	float: left;
	line-height: 25px;
	border-right:1px solid #919191;
}
.lxwm{
	position: relative;
	width: 600px;
	height: 265px;
	top:30px;
	left: 40px;
	float: left;
	line-height: 25px;
	border-right:1px solid #919191;
}
.zdwm{
	position: relative;
	width: 250px;
	height: 265px;
	top:30px;
	left: 65px;
	text-align: center;
	float: left;
}
.zdwm a{
	font-size:19px;
	font-weight: bold;
}
.bottom a{
	text-decoration: none;
	color: #589bc6;
}
.afff{
	font-size: 20px;
	font-weight: bold;
}
.ahover:hover{
	color: #c91928;
}
.wx,.wb,.qq,.txvideo,.ins{
	position: relative;
	float: left;
	top: 30px;
	left: 10px;
	width: 35px;
	height: 35px;
	margin: 5px;
	transition: all 0.3s steps(60);
	background: #64686b;
	background-size: 35px;
}
.zdwm img{
	position: relative;
	top:5px;
	width: 25px;
}
.wb img{
	top:2px;
	width: 32px;
}
.qq img{
	top:6px;
	width: 22px;
}
.wx:hover{
	background: #50c232;
}
.wb:hover{
	background: #e90e24;
}
.qq:hover{
	background: #12b7f5;
}
.txvideo:hover{
	background: #ff7a05;
}
.ins:hover{
	background: #a12eb2;
}
.btmsiteinfo{
	position: relative;
	width: 1420px;
	height: 170px;
	margin: 0 auto;
}
.btmlogo{
	position: absolute;
	width: 300px;
	height: 150px;
}
.btmlogo img{
	position: relative;
	top:40px;
	width: 220px;
}
.copyright{
	position: relative;
	width: 230px;
	height: 90px;
	left: 240px;
	top:40px;
}
.vansselect{
	position: relative;
	width: 100px;
	height: 34px;
	background: #64686b;
	top:15px;
	cursor: pointer;
}
.vansselect img{
	position: relative;
	float: right;
	width: 15px;
	top:10px;
	z-index: 999;
	right: 10px;
}
#vansselect{
	position: relative;
	background: #64686b;
	width: 80px;
	height: 34px;
	padding: 5px;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	-webkit-appearance: none; /*for chrome*/
}
